.vscode
build
tags
.editorconfig
.DS_Store
cmake-build-debug/*
.idea/*

mpc/mpc.xcodeproj/**

mpc/mpc.xcodeproj/project.xcworkspace/contents.xcworkspacedata

mpc/mpc.xcodeproj/project.xcworkspace/xcuserdata/liamog.xcuserdatad/UserInterfaceState.xcuserstate

mpc/mpc.xcodeproj/project.xcworkspace/xcuserdata/liamog.xcuserdatad/UserInterfaceState.xcuserstate
